:root {
    --main-font-color: #f0e9d6;
    --section-backgrounds: rgba(0, 0, 0, 0.9);
    --hover-font-color: #fff39a;
}

@font-face {
    font-family: "Satisfy-Regular";
    src: url(../fonts/Satisfy-Regular.ttf);
}

@font-face {
    font-family: "Concert-One";
    src: url(../fonts/ConcertOne-Regular.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    color: var(--main-font-color);
}

.header {
    padding: 2em 0 1em 0;
    background-color:var(--section-backgrounds);
    text-align: center;
}

.header h1 {
    font-family: "Satisfy-Regular";
    font-size: 5em;
}

.header nav button {
    font-family: "Concert-One";
    font-size: 2.5em;
    margin: 0.3em;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding-bottom: 0.5em;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button:hover {
    color: var(--hover-font-color)
}

.current-nav {
    border-bottom: 1px solid white;
    margin-bottom: -1px;
}

body {
    width: 100%;
    background-image: url("../images/bakery.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
}

#content {
    max-width: 700px;
    min-height: 500px;
    margin: 3em auto;
    background-color:var(--section-backgrounds);
    padding: 1em 0 3em 0;
}

#content p {
    padding: 0.5em;
    font-size: 1.5em;
}

#content img {
    width: 100%;
    max-width: 500px;
    margin: 1em 0;
}

.contact {
    text-align: left;
    margin: 0 2em;
}